extends layout
block content

    
    h1.text-center Project Nova
    h3.text-center Big Data Analysis Final Project


    ul.list-unstyled
        mixin article(article)
            h2.blog-title.font1.red.text-capitalize.text-left  #{article.title}
            div.
            p.well #{article.content}
            h2.font2 Related articles
    

         each article, i in list
               li
                  if(i==0)
                    +article(article)
                  if(i>0)
                    p #{i}.
                        a.btn-link(href=article.title)=article.title
         div
            if(p > 1)
               button.btn
                  a.pager(href='?page=' + (p - 1)) Previous
            if(p < 10)
               button.btn
                   a.pager(href='?page=' + (p+1)) Next

